<div id="sobre" class="offset"></div>
<div class="about py-5 text-white text-center">
    <div class="container">
        <h2 class="display-4 slab pb-3">Sobre Nós</h2>
        <p>
            Somos uma empresa que oferece uma gama completa de serviços de chaveiro e sistemas de segurança para clientes comerciais e residenciais em todo o distrito de Lisboa. Nosso principal objetivo é fornecer serviços de chaveiros profissionais, eficientes e confiáveis a preços competitivos.
        </p>
        <p>
            Lidamos com todos os projetos com cuidado e muita atenção para garantir 100% de satisfação e ótimos resultados fornecendo serviços de chaveiro e soluções de segurança que são adaptadas às necessidades específicas de cada cliente.
        </p>
    </div>
</div>
