<div id="atendimento" class="offset"></div>
<div class="container py-5 text-center">
    <h2 class="display-4 slab text-danger pb-5">Atendimento</h2>
    <div class="row text-dark">
        <div class="col-12 col-md-6">
            <h3 class="font-weight-bold">Horário</h3>
            <p> Todos os dias, 24 horas</p>
        </div>
        <div class="col-12 col-md-6">
            <h3 class="font-weight-bold">Zona de Atuação</h3>
            <p>Todo o distrito de Lisboa</p>
        </div>
    </div>
    <a class="btn btn-danger btn-lg font-weight-bold mt-5" href="#" role="button">
        <img class="d-inline-block mr-2" src="/assets/img/icons/call.svg" height="30" width="30" alt="">
        987 654 321
    </a>
</div>
