<div id="contactos" class="offset"></div>
<div class="bg-dark">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 pl-md-5 py-5">
                <h2 class="slab display-4 text-white">Contactos</h2>
                <br>
                <p class="">
                        <a target="_blank" rel=”noreferrer” href="" class="text-white font-weight-bold ">
                        <img src="/assets/img/icons/contacts/telephone.svg" alt="" class="d-inline-block pr-1" width="30px" height="30px">
                        987 654 321
                    </a>
                </p>
                <p class="">
                        <a target="_blank" rel=”noreferrer” href="" class="text-white font-weight-bold ">
                        <img src="/assets/img/icons/contacts/whatsapp.svg" alt="" class="d-inline-block pr-1" width="30px" height="30px">
                        987 654 321
                    </a>
                </p>
                <p class="">
                        <a target="_blank" rel=”noreferrer” href="" class="text-white font-weight-bold ">
                        <img src="/assets/img/icons/contacts/messenger.svg" alt="" class="d-inline-block pr-1" width="30px" height="30px">
                        Link do messenger
                    </a>
                </p>
                <p class="">
                        <a target="_blank" rel=”noreferrer” href="" class="text-white font-weight-bold ">
                        <img src="/assets/img/icons/contacts/gmail.svg" alt="" class="d-inline-block pr-1" width="30px" height="30px">
                        contacto@chaveirolisboa.pt
                    </a>
                </p>
                <p class="">
                        <a target="_blank" rel=”noreferrer” href="" class="text-white font-weight-bold ">
                        <img src="/assets/img/icons/contacts/facebook.svg" alt="" class="d-inline-block pr-1" width="30px" height="30px">
                        Link da Página
                    </a>
                </p>
                <p class="">
                        <a target="_blank" rel=”noreferrer” href="" class="text-white font-weight-bold ">
                        <img src="/assets/img/icons/contacts/linkedin.svg" alt="" class="d-inline-block pr-1" width="30px" height="30px">
                        Link da Página
                    </a>
                </p>
            </div>
            <a href="https://www.google.com/maps/place/Lisbon,+Portugal/@38.9956364,-9.4213874,10z/data=!3m1!4b1!4m5!3m4!1s0xd18d5a8e12b125b:0x300ebbde4902cc0!8m2!3d38.7223263!4d-9.1392714" target="_blank" rel=”noreferrer” id="maps" class="col-12 col-md-6 ml-auto p-0 d-flex align-items-center shadow" aria-label="Mapa de Lisboa">
            </a>
        </div>
    </div>
</div>
