<div class="row py-3 m-0 bg-danger" id="copyright">
    <div class="col-12 text-center text-white">
        © <span id="date"></span> <a href="" class="font-weight-bold text-white">Chaveiro Lisboa Abrir Portas</a>. Todos os direitos reservados.
    </div>
</div>

<a href="" id="float1" target="_blank" rel=”noreferrer” class="d-md-none" alt="Ligar" aria-label="Ligar">
    <img src="/assets/img/icons/contacts/telephone.svg " alt="" class="d-inline-block" width="55px" height="55px">
</a>

<a href="" id="float2" target="_blank" rel=”noreferrer” class="" alt="Chamar no WhatsApp" aria-label="Chamar no WhatsApp">
    <img src="/assets/img/icons/contacts/whatsapp.svg " alt="" class="d-inline-block" width="55px" height="55px">
</a>
