<div id="inicio" class="jumbotron d-flex align-items-center text-center">
    <div class="container text-white">
        <h1 class="display-2 py-5 slab">
            Chaveiro Lisboa
            <br>
            Abrir Portas 24h
        </h1>
        <p class="lead"></p>
        <a class="btn btn-danger btn-lg font-weight-bold" href="#" role="button">
            <img class="d-inline-block mr-2" src="{{ site.url }}/assets/img/icons/call.svg" height="30" width="30" alt="">
            987 654 321
        </a>
        </div>
</div>
