<div id="servicos" class="offset"></div>
<div class="container py-5">
    <h2 class="display-4 slab text-center pb-5 text-dark">Serviços</h2>
    <div class="row">
        <div class="card col-12 col-md-6 col-lg-3 pb-5 text-center">
            <img src="/assets/img/icons/services/emergencia.svg" class="mx-auto" width="40%" alt="...">
            <div class="card-body text-dark">
                <h5 class="card-title font-weight-bold">Emergência</h5>
                <p class="card-text">Oferecemos serviços de chaveiro de emergência 24 horas. Nossa equipa profissional está pronta e totalmente equipada para atuar de maneira rápida e eficiente.</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 pb-5 text-center">
            <img src="/assets/img/icons/services/residencial.svg" class="mx-auto" width="40%" alt="...">
            <div class="card-body text-dark">
                <h5 class="card-title font-weight-bold">Residencial</h5>
                <p class="card-text">Temos a equipa de chaveiros a domicílio mais confiável de Lisboa. A segurança da sua residência é a nossa prioridade.</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 pb-5 text-center">
            <img src="/assets/img/icons/services/comercial.svg" class="mx-auto" width="40%" alt="...">
            <div class="card-body text-dark">
                <h5 class="card-title font-weight-bold">Comercial</h5>
                <p class="card-text">Fornecemos serviços de chaveiro comercial para novos projetos de construção, agências imobiliárias, arquitetos, designers de interiores e inúmeras outras instalações comerciais.</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 pb-5 text-center">
            <img src="/assets/img/icons/services/carro.svg" class="mx-auto" width="40%" alt="...">
            <div class="card-body text-dark">
                <h5 class="card-title font-weight-bold">Automóvel</h5>
                <p class="card-text">Nossa equipa de chaveiros está apta para a substituição de chave de automóvel, programação de chaves, fazer chaves sobressalentes, chaves remotas e muito mais.</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 pb-5 text-center">
            <img src="/assets/img/icons/services/eletrico.svg" class="mx-auto" width="40%" alt="...">
            <div class="card-body text-dark">
                <h5 class="card-title font-weight-bold">Trincos Elétricos</h5>
                <p class="card-text">Fornecemos os mais avançados sistemas de controle de acesso eletrónico do mercado. Eles permitem controle de acesso e gerenciamento de acesso de identidade.</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 pb-5 text-center">
            <img src="/assets/img/icons/services/reparo.svg" class="mx-auto" width="40%" alt="...">
            <div class="card-body text-dark">
                <h5 class="card-title font-weight-bold">Manutenção</h5>
                <p class="card-text">Não deixe que a sua segurança fique em risco. Fazemos manutenção periódica projetada para manter a integridade da segurança sem falhas.</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 pb-5 text-center">
            <img src="/assets/img/icons/services/clone.svg" class="mx-auto" width="40%" alt="...">
            <div class="card-body text-dark">
                <h5 class="card-title font-weight-bold">Duplicação</h5>
                <p class="card-text">Oferecemos serviços de duplicação de chaves para todos os tipos de chaves e criação de conjuntos de chaves duplicados para funcionários, familiares ou outras pessoas.</p>
            </div>
        </div>
        <div class="card col-12 col-md-6 col-lg-3 pb-5 text-center">
            <img src="/assets/img/icons/services/cofre.svg" class="mx-auto" width="40%" alt="...">
            <div class="card-body text-dark">
                <h5 class="card-title font-weight-bold">Cofre</h5>
                <p class="card-text">Oferecemos venda, instalação, reparo, abertura e muitos outros serviços de chaveiro para cofres de todos os tipos.</p>
            </div>
        </div>
    </div>
</div>
